@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {padding: 0;margin: 0;font-family: 'Roboto', sans-serif;font-size: 18px;}

header, footer {
    color: white;
    background-color: #1f2937;
}

li.logo {font-weight: bold;font-size: 24px;color: #f9faf8;}
nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: flex-end;
}
nav ul li.logo {margin-right: auto;}
header {padding: 20px 200px;}
div.hero {
    padding: 200px 0;
}
h1 {font-size: 48px;color: #f9faf8;}
div.hero {display: flex;justify-content: space-between;gap: 40px;}
div.left p {color: #e5e7eb;margin-bottom: 10px;}
/* div.left {width: 800px;} */
div.left button {
    background-color: #3882f6;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    border: 0;
}
div.hero figure {
    background-color: rgba(255, 255, 255, 0.4);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
    text-align: center;
    margin-bottom: 50px;
}
section {padding: 50px 300px;}
div.cards {display: flex;gap: 30px;justify-content: center;}
div.card {display: flex;flex-direction: column;align-items: center;}
p {text-align: center;}
div.card figure {width: 200px;height: 200px;border: 4px solid #3882f6;border-radius: 15px;margin-bottom: 20px;}

div.quote {
    background-color: #e5e7eb;
    padding: 50px 300px;
}
p.line {
    font-size: 36px;
    font-weight: lighter;
}
div.cta-container {
    margin: 50px 250px;
    display: flex;
    background-color: #3882f6;
    color: #fff;
    justify-content: space-between;
    padding: 50px 100px;
    border-radius: 10px;
}
h3 {
    font-size: 24px;
}
div.cta-container button {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px 40px;
    background-color: transparent;
}
footer{
    text-align: center;
    padding: 40px;
}